.myButton{
    border-radius: 15px;
    color: white;
    background-color: red;
    font-size: 1em;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: absolute;
    margin-left: 290px;
    margin-top: 10px;
}
.myButton:hover{
    background-color: rgb(0, 0, 122);;
    color: gold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.CardBackground{
    background-color: #b3005fb7;
    border-radius: 15px;
}

.CardBackground:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.911), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h2{
    font-size: large;
    color: rgb(245, 229, 84);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.FondoCard{
    opacity: 1;
}

.Image{
    border-radius: 50px;
    padding: 10px;
}